
        body{
            margin:0;
            background: url("2nd layer BG.jpg") no-repeat;
            position:relative;
        }
        .head{
            margin: 0;
        }
        .head img{
            float: left;
            height:113px;
            width:8%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .head .nav{
            text-align: right;
            padding-right: 2%;
            
        }
        #box .places a:hover{
            background-color: aliceblue;
            color: black;
        }
        a:hover{
            background-color: aliceblue;
            color: black;
        }
        a{
            color: aliceblue;
            text-decoration: none;
            border-radius: 30px;
            padding: 0.5%;
            margin-right: 15px;
        }
        #info p{
            font-size: large;
            text-indent: 5%;
        }
        #info img{
            float: left;
            height: 266px;
            width: 280px;
            margin:0px 10px 0px 1px;
            
        }
        #info{
            margin:0 5%;
        }
        .places{
            background-color: rgb(19, 54, 54);
            border-radius: 15px;
            width: 300px;
            border: 5px solid green;
            padding: 50px;
            margin-top: 50px;
            margin-right: 4%;
            margin-left:2.5% ;
            margin-bottom:15px;
            float: left;
            height: 557px;
        }
        #box{
            margin:0% 10%;
        }
        h3{
            /* background-color: black; */
            margin-top:1%;
        }
        p,img{
            color: aliceblue;
            text-align: justify;
            text-align: justify;
        }
        .places p{
            margin:0px ;
            text-indent:5%;
           
        }
        .places img{
            height:250px;
            width:300px ;
            inset: 30px;
        }
        .places a{
            background-color: rgb(255, 251, 0);
            border-radius: 20px;
            font-size:larger;
            padding:3% 5%;
            border-color: brown;
            text-align: center;
            text-decoration: none;
            color:rgb(131, 1, 253);
        }
       
        

        #text{
            clear: left;
            font-size:20px;
            text-indent: 5%;
            text-align: center;
            padding:0;
            
        }
        /* @media screen and (max-width:480px){
            

        } */
        